<h1>New User Registration</h1>
<div class='flash'>
	<% if flash[:errors] %>
		<div class='red flash_box'>
			<% for message in flash[:errors] %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>
	<% if flash[:action_status] %>
		<p class='green flash_box'><%= flash[:action_status] %></p>
	<% end %>
</div>
<form action='/users/create' method='post'>
	<table>
		<tr>
			<td>Name:</td>
			<td><input type='text' name="user[name]"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type='text' name="user[email]"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type='password' name="user[password]"></td>
		</tr>
		<tr>
			<td>Confirm Password:</td>
			<td><input type='password' name="user[password_confirmation]"></td>
		</tr>
	</table>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> 
	<input type='submit' value='Register'>
</form>